<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/28f4c7ff-9f74-4827-b33a-16d5cf5555db/resourceGroups/viamatica/providers/Microsoft.Web/sites/viamatica</ResourceId>
    <ResourceGroup>viamatica</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://viamatica.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5e602657-3222-4a07-9059-53686db6dc8b</ProjectGuid>
    <PublishUrl>https://viamatica.scm.azurewebsites.net/</PublishUrl>
    <UserName>$viamatica</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>